= form_with model: @artist, class: 'w-full' do |f|
  %div{ class: 'grid grid-cols-2 gap-6 mb-6' }
    %div{ class: 'flex flex-col gap-2' }
      = f.label :cover_photo
      = f.file_field :cover_photo, accept:'image/*'
    %div{ class: 'flex flex-col gap-2' }
      = f.label :avatar
      = f.file_field :avatar, accept:'image/*'

    %div{ class: 'w-full' }
      = f.text_field :name, class: "#{f.object.errors[:name].present? ? 'border-red-500 border' : 'border-gray-500 border'} p-2 w-full", placeholder: 'Name'
      - if f.object.errors[:name].present?
        %span{ class: 'text-red-500' }= f.object.errors[:name].to_sentence

    %div{ class: 'w-full' }
      = f.text_field :permalink, class: "#{f.object.errors[:permalink].present? ? 'border-red-500 border' : 'border-gray-500 border'} p-2 w-full", placeholder: 'Permalink'
      - if f.object.errors[:permalink].present?
        %span{ class: 'text-red-500' }= f.object.errors[:permalink].to_sentence
  
  = f.text_area :bio, class: "#{f.object.errors[:bio].present? ? 'border-red-500 border' : 'border-gray-500 border'} p-2 w-full", rows: 5, placeholder: 'Write something for the bio...'
  - if f.object.errors[:bio].present?
    %span{ class: 'text-red-500' }= f.object.errors[:bio].to_sentence

  %div{ class: 'w-full flex justify-end mt-2' }
    = f.submit class: 'px-4 py-2 w-40 bg-indigo-800 text-white hover:bg-indigo-700 cursor-pointer'
