= form_with model: @album, class: 'w-full' do |f|
  %div{ class: 'grid grid-cols-2 gap-6 mb-6' }
    %div
      = image_tag asset_path('album_background.jpg'), class: 'h-96 w-full object-cover rounded mb-4', id: 'cover_photo_preview'
      %div{ class: 'flex flex-col gap-2' }
        = f.label :cover_art
        = f.file_field :cover_art, accept:'image/*'

    %div{ class: 'flex flex-col gap-4' }

      %div{ class: 'w-full' }
        = f.text_field :name, class: "#{f.object.errors[:name].present? ? 'border-red-500 border' : 'border-gray-500 border'} rounded p-2 w-full", placeholder: 'Name'
        - if f.object.errors[:name].present?
          %span{ class: 'text-red-500' }= f.object.errors[:name].to_sentence

      %div{ class: 'w-full flex flex-col gap-2' }
        = f.label :kind
        = f.select :kind, ["Extended Play", "Long Play", "Single Play"], style: 'padding: 20px'
      
      %div{ class: 'flex'}
        %div{ class: 'flex-1 gap-2' }
          %h1 Released
          %div{ class: 'flex items-center h-full w-1/2' }
            %div{ class: 'flex-1' }
              = f.radio_button :released, "Yes", :checked => (@album.released == true)
              = f.label :yes
            %div{ class: 'flex-1' }
              = f.radio_button :released, "No", :checked => (@album.released == false)
              = f.label :no

  %div{ class: 'w-full flex mt-2' }
    = f.submit class: 'px-4 py-2 w-40 bg-indigo-800 text-white hover:bg-indigo-700 rounded cursor-pointer'

:javascript
  function showImage (src, target) {
    var fileReader = new FileReader()
    fileReader.onload = function (e) { 
      target.src = this.result
    }
    src.addEventListener("change", function () {
      fileReader.readAsDataURL(src.files[0])
    })
  }

  var albumSrc = document.getElementById("album_cover_art")
  var albumTarget = document.getElementById("cover_photo_preview")
  showImage(albumSrc, albumTarget)
